body {
    position: relative;
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

/* Common styles for paketusaha elements */
.paketusaha1,
.paketusaha2,
.paketusaha3,
.paketusaha4,
.paketusaha5,
.paketusaha6 {
    position: absolute;
    z-index: 1;
    max-width: 35%;
    transform: translate(-50%, -50%);
    height: auto;
    cursor: pointer;
    transition: transform 0.2s;

    /* Mencegah penggeseran gambar */
    -webkit-user-drag: none;
    user-drag: none;

    /* Mencegah pemilihan teks di atas gambar */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Common styles for fasilitas elements */
.fasilitas1,
.fasilitas2,
.fasilitas3,
.fasilitas4,
.fasilitas5,
.fasilitas6 {
    position: absolute;
    z-index: 1;
    max-width: 35%;
    transform: translate(-50%, -50%);
    height: auto;
    display: none;
}

/* Styles for paketusaha1 */
.paketusaha1 {
    top: 61%;
    left: 25%;
}

.paketusaha1:hover {
    /* Efek membesar saat mouse di atas gambar */
    transform: translate(-50%, -50%) scale(1.2);
}

/* Styles for paketusaha2 */
.paketusaha2 {
    top: 61%;
    left: 75%;
}

.paketusaha2:hover {
    /* Efek membesar saat mouse di atas gambar */
    transform: translate(-50%, -50%) scale(1.2);
}

/* Styles for paketusaha3 */
.paketusaha3 {
    top: 65%;
    left: 25%;
}

.paketusaha3:hover {
    /* Efek membesar saat mouse di atas gambar */
    transform: translate(-50%, -50%) scale(1.2);
}

/* Styles for paketusaha4 */
.paketusaha4 {
    top: 65%;
    left: 75%;
}

.paketusaha4:hover {
    /* Efek membesar saat mouse di atas gambar */
    transform: translate(-50%, -50%) scale(1.2);
}

/* Styles for paketusaha5 */
.paketusaha5 {
    top: 69%;
    left: 25%;
}

.paketusaha5:hover {
    /* Efek membesar saat mouse di atas gambar */
    transform: translate(-50%, -50%) scale(1.2);
}

/* Styles for paketusaha6 */
.paketusaha6 {
    top: 69%;
    left: 75%;
}

.paketusaha6:hover {
    /* Efek membesar saat mouse di atas gambar */
    transform: translate(-50%, -50%) scale(1.2);
}

/* Styles for whatsapp elements */
.whatsapp1,
.whatsapp2,
.whatsapp3 {
    position: absolute;
    z-index: 1;
    max-width: 55%;
    transform: translate(-50%, -50%);
    height: auto;
    cursor: pointer;
    transition: transform 0.2s;
}

.whatsapp1 {
    top: 91.5%;
    left: 50%;
}

.whatsapp1:hover {
    /* Efek membesar saat mouse di atas gambar */
    transform: translate(-50%, -50%) scale(1.2);
}

.whatsapp2 {
    top: 93%;
    left: 50%;
}

.whatsapp2:hover {
    /* Efek membesar saat mouse di atas gambar */
    transform: translate(-50%, -50%) scale(1.2);
}

.whatsapp3 {
    top: 94.5%;
    left: 50%;
}

.whatsapp3:hover {
    /* Efek membesar saat mouse di atas gambar */
    transform: translate(-50%, -50%) scale(1.2);
}

/* Styles for social media icons */
.instagram,
.tiktok {
    position: absolute;
    z-index: 1;
    max-width: 35%;
    transform: translate(-50%, -50%);
    height: auto;
    cursor: pointer;
    transition: transform 0.2s;
}

.instagram {
    top: 97.5%;
    left: 25%;
}

.instagram:hover {
    /* Efek membesar saat mouse di atas gambar */
    transform: translate(-50%, -50%) scale(1.2);
}

.tiktok {
    top: 97.5%;
    left: 75%;
}

.tiktok:hover {
    /* Efek membesar saat mouse di atas gambar */
    transform: translate(-50%, -50%) scale(1.2);
}

/* Styles for background images */
.background-image {
    max-width: 100%;
    height: auto;
    z-index: 0;
    margin: 0;
    padding: 0;
    display: flex;
}

.floating {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
   }
   
   .fab-icon {
    margin-top: 16px;
   }
